node_modules/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.d/
*.tfplan
crash.log
terraform/terraform.tfvars

# Secrets
**/.env

# Build outputs
dist/
build/
coverage/

# Logs
*.log

/memory